<!DOCTYPE html>
<html>
  <head>
    <title>中山家の買い物メモ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/favicon.ico'>
  </head>
  <body>
    <header>
      <div class="container">
        <img src="/images/top.jpg" alt="トップページ">
        <h1>中山家の買い物メモ</h1>
      </div>
    </header>

    <div class="container">
      <p class="firstp">サーバを通してデータベースに保存しているため、<br>
        メモの内容をリアルタイムで共有することができます。<br>
        また、レスポンシブデザインにも対応しているためレイアウト崩れがおきません（多分）</p>

      <p>使用言語：Node.js、DB：postgreSQL<br><br>
      今後の課題<br>
      OAuth認証、脆弱性対策、テーブル表示<br><br>
      確認されている脆弱性<br>
      SQL インジェクション、クロスサイト・スクリプティング (XSS)、クロスサイト・リクエストフォージェリ (CSRF)</p>    
      <a href="/list" class="btn btn-flat"><span>一覧表示！</span></a>
    </div>

  </body>
</html>
