<!DOCTYPE html>
<html>
  <head>
    <title>中山家の買い物メモ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="container">
        <img src="/images/top.jpg" alt="トップページ">
        <h1>中山家の買い物メモ</h1>
      </div>
    </header>

    <div class="container">
      <p>サーバを通してデータベースに保存しているため、<br>
        メモの内容をリアルタイムで共有することができます。<br>
        また、レスポンシブデザインにも対応しているためレイアウト崩れがおきません（多分）</p>

      <p>このサイトはNode.jsを用いて作られています。また、DBにはMySQLが使われております。<br>
      今後は誰が登録したかを分かるようにしたいですが、OAuth認証と脆弱性対策が面倒なので当分先になります</p>
      <a href="/list" class="btn btn-flat"><span>一覧表示！</span></a>
    </div>

  </body>
</html>
