<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/liststyle.css' />
  <link rel='icon' href='/images/favicon.ico'>
  <title>一覧表示</title>
</head>
<body>
  <header>
    <h2>一覧表示</h2>
  </header>
  <ul>
    <% items.forEach((item) => { %>
      <li class="list">
        <%= item.content %>
        <!--  削除機能の実装 -->
        <form action="/delete/<%= item.id %>" method="POST" class="button">
          <input type="submit" value="削除">
        </form>
      </li>
    <% }); %>
  </ul>
  <a href="/add">新しく追加する</a>
  <a href="/">ホームに戻る</a>
</body>
</html>